# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
node_modules
src/web/.pnp
.pnp.js
.yarn/install-state.gz

# testing
src/web/coverage

# next.js
src/web/.next/
src/web/out/

# production
src/web/build

# misc
.DS_Store
*.pem

# debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# local env files
# .env*.local # TODO: uncomment this line if you want to ignore local env files

# vercel
.vercel

# typescript
*.tsbuildinfo
next-env.d.ts

# docker database
/temp
